extends layout
block content
  h1 #{article.title}
  //- h5 Written by #{article.author}
  h5 Written by #{author}
  h3 Medium Blog
  p #{article.body}
  hr
  br
  if user
    if user.id == article.author
      a.btn.btn-default(href=`/articles/edit/${article._id}`) Edit
      a.btn.btn-danger.delete-article(href="#", data-id = article._id) Delete
    br
    br
    a.btn.btn-success(href=`/articles/comment/${article._id}`) Write a comment
    hr
    br
    h3 Comments are Below

    if article.comment
      ul.list-group
        p 
          h5 #{article.comment} by 
            strong #{user.name}